.petr-img {
    animation-duration: 5s;
    animation-name: pop-img;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 1200px) {
    .petr-img {
        margin-top: 100px;
    }
}

@keyframes pop-img {
    from {
        height: 450px;
        width: 300px;
        
    }

    50% {
        height: 600px;
        width: 400px;
    }

    to {
        height: 450px;
        width: 300px;
    }
    
}