.App {
    margin-top: 6.5%;
}

.hackapp-container, .petr-container {
    width: 100%;
    display: grid;
    justify-content: center;
}

.hackapp {
    margin-top: 100px;
}

.hackapp, .petr {
    display: grid;
    justify-content: center;
    align-content: center;
}

@media screen and (min-width: 1000px) {
    .App {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 1000px) {
    .App {
        display: flex;
        flex-direction: column;
    }
}