.App {
    background-color: linear-gradient(90deg, #ff7b5c, #ff6c81);
}

.hackapp-container {
    position: relative;
}

.hackapp {
    margin: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .App {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 1200px) {
    .App {
        display: flex;
        flex-direction: column;
    }
}