body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (min-width: 1000px) {
  body {
    background: linear-gradient(90deg, #ff7b5c , #ff6c81);
  }
}

@media screen and (max-width: 1000px) {
  body {
    background: linear-gradient(180deg, #ff7b5c , #ff6c81);
  }
}
